[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
psycopg2 = "*"
pymupdf = "*"
requests = "*"
django = "*"
numpy = "*"
scipy = "*"
rapidfuzz = "*"
spacy = "*"
elevenlabs = "*"
librosa = "*"
nltk = "*"
jiwer = "*"
langchain = "*"
langchain-experimental = "*"
langchain-openai = "*"
networkx = "*"
matplotlib = "*"
multipledispatch = "*"
pandas = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.11"
