[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.14"
djangorestframework = "==3.16.0"
djangorestframework-simplejwt = "==5.5.0"
requests = "==2.32.3"

[dev-packages]

[requires]
python_version = "3.11"
